$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxMeduim: "(max-width: 991px)";
$minMeduim: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$red-Color: #e2494c;
$grey-Color: #9c9c9c;

$float-left: left;
$float-right: right;

$left: left;
$right: right;